{% extends "base.twig" %}

{% block content %}
    
  <h1>Prayers</h1>

  {% for prayer in prayers %}
    <div class="prayer-card" id="prayer-{{ prayer.id }}">

      {% if user and user.role != 'user' %}
        <div class="unapprove-button">
          <a href="/moderate/unapprove/{{prayer.id}}">Unapprove</a>
        </div>
      {% endif %}

      <h2>{{ prayer.title }}</h2>
      <p>{{ prayer.body }}</p>

      <div class="prayer-card-footer">
        <form method="post" action="/prayers/pray/{{ prayer.id }}?redirect={{ currentPage }}#prayer-{{ prayer.id }}" class="pray-form">
          <button 
            type="submit" 
            class="pray-button {% if prayer.has_prayed %}prayed{% else %}not-prayed{% endif %}"
          >
            ðŸ™ 
            {% if prayer.has_prayed %}
              You prayed ({{ prayer.prayed_count }})
            {% else %}
              Pray ({{ prayer.prayed_count > 0 ? prayer.prayed_count : '0' }})
            {% endif %}
          </button>
        </form>

        <p class="date">
          {{ prayer.date_posted|date("F jS \\a\\t g:ia")  }}
        </p>
      </div>

    </div>
  {% else %}
    <p>No prayers yet.</p>
  {% endfor %}

  <!-- Button to submit a new prayer -->
  <div>
    <a href="/prayers/request">
      <button type="button">Submit a Request for Prayer</button>
    </a>
  </div>

{% endblock %}