<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Prayer Wall{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    {% if user and user.role != 'user' %}
        <link rel="stylesheet" href="/css/moderator.css">
    {% endif %}

</head>
<body>

    <div class="header">
        <div class="container">
            
            <a href="/" class="header-title">
                PrayWall
            </a>

            <div class="menu">
                {{ include('partials/header_user_menu.twig') }}
            </div>

        </div>
    </div>

    {{ include('partials/header_moderator_menu.twig') }}

    <div class="container">

        {% for message in errors %}
            <div class="alert alert-error">{{ message }}</div>
        {% endfor %}

        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}

        {% for message in success %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        

        {% block content %}{% endblock %}
    </div>
</body>
</html>